$bar-width: 1.875rem;
$bar-height: 0.188rem;
$bar-spacing: 0.5rem;


.hamburger {

  &-menu-wrapper {
    @include toRem(margin-top, 5);
    width: $bar-width;
    height: $bar-height + $bar-spacing * 2;
    cursor: pointer;
  }
  
  &-menu,
  &-menu:after,
  &-menu:before {
    width: $bar-width;
    height: $bar-height;
  }
  
  &-menu {
    position: relative;
    transform: translateY($bar-spacing);
    background: $ActiveTitle;
    transition: all 0ms 200ms;
  
    &.animate {
      background: rgba(255, 255, 255, 0);
    }
  }
  
  &-menu:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: $bar-spacing;
    background: $ActiveTitle;
    transition: bottom 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  &-menu:after {
    content: "";
    position: absolute;
    left: 0;
    top: $bar-spacing;
    background: $ActiveTitle;
    transition: top 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  &-menu.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 200ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  &-menu.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 200ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  


}

